* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0f2027e7, #203a43f8, #2c5364);
}

.container {
    width: 500px;
    text-align: center;

    border: 5px solid #000000;
    background-color: #173e47;
    border-radius: 12px;

    padding: 20px;
}

.title {
    font-size: 4rem;
    color: #bbadad;
}

.countdown-inputs {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    font-size: 3rem;

    gap: 10px;
    padding: 20px;
}

.time-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5px;
}

input[type="text"]{
    width: 2ch;
    text-align: center;
    font-size: 5rem;
    
    border: none;
    background: none;
    color: #1f8f6a;
}

/* For General Browsers But Am Not Sure */
input[type="text"]::-webkit-inner-spin-button, input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=text] {
    -moz-appearance: textfield;
}

.arrow {
    font-size: 1rem;
    line-height: 1rem;
    color: #1f8f6a;

    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

span {
  color: #1f8f6a;
}

.buttons-container {
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.button {
    font-size: 2.5rem;
    color: #000;
    background-color: #1f8f6a;

    border: none;
    border-radius: 7px;

    padding: 5px;
    cursor: pointer;
    margin-top: 15px;

    transition: transform 0.05s ease-in-out, background-color 0.15s ease-in-out;
}

.button:hover {
    background-color: #1f8f6a81;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}
