* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3261b6;
}

.calculator {
    min-height: 650px;
    height: auto;
    width: 400px;
    border: 7px solid black;
    border-radius: 5px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.63);
    background-color: #010127;

    display: flex;
    flex-direction: column;
    padding: 5px;
}

#display {
    height: 150px;
    font-size: 100px;
    color: #ffffffb2;
    background-color: #0099ff33;

    border: 5px solid #0099ff33;
    border-radius: 5px;

    overflow-x: auto;
    white-space: nowrap;
    word-break: break-all;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;

    transition: font-size 0.33s ease-in-out;
}

#button_reset {
    height: 60px;
    background-color: #0099ff33;

    color: white;
    border: 3.5px solid #0099ff33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
}

#button_reset:hover {
    background-color: #0099ff21;
}

.buttons {
    color: #ffffffb2;
    background-color: #0099ff33;

    border: 3.5px solid #0099ff33;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    flex-grow: 1;
    padding: 7px;
}

.number {
    font-size: 50px;
    background-color: #00ff2ab2;

    border: 2px solid #00ff2ab2;
    border-radius: 5px;
    box-shadow: 0 0px 1.5px #00ff2ab2;
    
    cursor: pointer;
}

.number:hover {
    background-color: #00ff2a70;
}

.button_operation {
    font-size: 50px;
    background-color: #00ff2a88;

    border: 2px solid #00ff2a88;
    border-radius: 5px;
    box-shadow: 0 0px 1.5px #00ff2a88;

    cursor: pointer;
}

.button_operation:hover {
    background-color: #00ff2a70;
}
