body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ebe0e0;
}

.counter__design {
    color: lightgreen;
    font-size: 150px;
}

.button__placement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #312e2e;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.button__container {
    display: flex;
    gap: 15px;
}

.button__design {
    font-size: 2em;
    cursor: pointer;

    background-color: #192d9b;
    transition: background-color 0.25s;
}

.button__design:hover{
    background-color: #2341e9;
}
